<div class="container">

  <div class="card-report-details">
    <div class="report-fields">
      <div>
      <%= simple_form_for([ @pet, @report ]) do |f| %>
        <div class="form-label">
          <%= f.input   :address,
                        required: true,
                        autofocus: true, label: "Address:" %>
        </div>
        <div class="form-label">
          <%= f.input   :date,
                        required: true,
                        autofocus: true, label: "Date:" %>
        </div>
        <div>
          <%= f.input   :reward_offered,
                        required: true,
                        autofocus: true, label: "Reward offered?" %>
          <%= f.input   :reward_amount,
                        required: true,
                        autofocus: true, label: "Reward amount:" %>
        </div>
        <%= f.submit class: "btn btn-primary btn-new" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
