<div class="container">
  <div class="pet-form">
  <%= simple_form_for [ @pet ] do |f| %>
    <div class=" d-flex justify-content-around input-area form-label">
      <%= f.input   :name,
                    required: true,
                    autofocus: true, label: "My pet name is..." %>
      <%= f.input   :category,
                    required: true,
                    autofocus: true,  label: "I am a..." %>
    </div>
    <div class=" d-flex justify-content-around input-area form-label">
      <%= f.input   :size,
                    required: true,
                    autofocus: true, label: "My size:" %>
      <%= f.input   :color,
                    required: true,
                    autofocus: true, label: "My color:" %>
    </div>
    <div class=" d-flex justify-content-around input-area form-label">
      <%= f.input   :gender,
                    required: true,
                    autofocus: true, label: "My sex:" %>
      <%= f.input   :age,
                    required: true,
                    autofocus: true, label: "My age:" %>
    </div>
    <div class=" d-flex justify-content-around input-area form-label">
      <%= f.input   :traits,
                    required: true,
                    autofocus: true, label: "My unique traits:" %>
      <%= f.input   :breed,
                    required: true,
                    autofocus: true, label: "My breed:" %>
    </div>
    <%= f.submit class: "btn btn-primary btn-new" %>
    <% end %>
  </div>
</div>

