<div class="container">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-8">
      <h3>Pet Details for New Report</h3>
      <p>In order to start a new report, we need the pet's info. Please fill up this form.</p>
      <div class="newpet-form">
        <%= simple_form_for @pet do |f| %>
          <%= f.input :category,
                      required: true,
                      collection: ['Dog', 'Cat'],
                      label: "Kind of pet",
                      placeholder: 'Dog or Cat',
                      hint: "Choose Dog or Cat from the list.",
                      autofocus: true %>
          <%= f.input :name,
                      placeholder: "Pet's name (optional)",
                      hint: "If you know the pet's name, fill up this field." %>
          <%= f.input :breed,
                      required: true,
                      collection: @breeds,
                      placeholder: "Pet's breed.",
                      hint: "You should select a breed." %>
          <%= f.input :size,
                      required: true,
                      collection: ['Small', 'Medium', 'Large'],
                      hint: "Choose a size from the list." %>
          <%= f.input :color,
                      required: true,
                      placeholder: "Pet's color.",
                      hint: "It is important to provide a color." %>
          <%= f.input :gender, as: :radio_buttons,
                      collection: [['Female', 'Female'], ['Male', 'Male'], ['Unknown', 'Unknown']],
                      label_method: :second, value_method: :first,
                      hint: "It'll be better to know the pet's gender." %>
          <%= f.input :age,
                      placeholder: "Pet's age (optional)",
                      hint: "This could be an stimated age." %>
          <%= f.input :traits,
                      placeholder: "Particular traits (optional)",
                      hint: "Something unique for this pet." %>
                      <%= image_tag "https://wolper.com.au/wp-content/uploads/2017/10/image-placeholder.jpg", width: 250, height: 250, class: "hidden", id: "photo-preview" %>
          <%= f.input :photo, as: :file,
                      required: true,
                      input_html: {  class: 'd-none', id: 'photo-input' },
                      label_html: { class: 'upload-photo'},
                      label: '📸 Upload a photo',
                      hint: "In order to anyone help you we need a photo." %>

          <%= f.submit class: "btn btn-primary"%>
        <% end %>
      </div>
    </div>
  </div>
</div>
