<div class="navbar navbar-expand-sm navbar-light fypet-navbar">
  <%= link_to root_path, class: "navbar-brand" do %>
    <div class="fypet-text"><i class="fas fa-paw"></i><h2>Find Your Pet</h2></div>
  <% end %>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto fypet-navbar-nav">
        <li class="nav-item fypet-nav-item">
          <%= link_to "I Lost My Pet", new_pet_path, class: "fypet-nav-link" %>
        </li>
        <li class="nav-item fypet-nav-item">
          <%= link_to "Current Reports", reports_path, class: "fypet-nav-link" %>
        </li>
      <% if user_signed_in? %>
        <li class="nav-item fypet-nav-item">
          <%= link_to myreports_path, class: "fypet-nav-link" do %>
            <i class="fas fa-user"></i><span>My Reports</span>
          <% end %>
        </li>
        <li class="nav-item fypet-nav-item">
          <%= link_to myreports_path, class: "fypet-nav-link" do %>
            <span>My Reports</span>
          <% end %>
        </li>
        <li class="nav-item fypet-nav-item">
          <%= link_to destroy_user_session_path, method: :delete, class: "fypet-nav-link" do %>
            <i class="fas fa-sign-out-alt"></i><span>Leave</span>
          <% end %>
        </li>
      <% else %>
        <li class="nav-item fypet-nav-item">
          <%= link_to "My Reports", myreports_path, class: "fypet-nav-link" %>
        </li>
      <% end %>
    </ul>
  </div>
</div>
