<div class="container">
  <div class="main-form">
    <h2>Send feedback about Report #<%= @report.id %></h2>
      <%= form_with(url: "/message", method: "post") do %>
        <table class= "align-top">
          <tr>
            <td><%= label_tag(:your_name, "Your name:") %></td>
            <td><%= text_field_tag(:your_name) %></td>
          </tr>
          <tr>
            <td><%= label_tag(:your_phone, "Your phone:") %></td>
            <td><%= text_field_tag(:your_phone) %></td>
          </tr>
          <tr>
            <td><%= label_tag(:your_feedback, "Your feedback:") %></td>
            <td><%= text_area_tag(:your_feedback, "", size: "24x6") %></td>
          </tr>
        </table>
        <br>
        <%= submit_tag("Send", class: "btn btn-primary btn-wide") %>
      <% end %>

  </div>
</div>