<div>
  <div class="container">
  <div class="row search-index">
      <div class="left-index col-sm-6">
        <div class="dropdown">
          <button class="dropbtn">Category ▾</button>
            <div class="dropdown-content">
              <a href="#">Dog</a>
              <a href="#">Cat</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Breed ▾</button>
            <div class="dropdown-content">
              <a href="#">Beagle</a>
              <a href="#">Bulldog</a>
              <a href="#">Chihuahua</a>
              <a href="#">German Shepard</a>
              <a href="#">Labrador</a>
              <a href="#">Schnauzer</a>
              <a href="#">Terrier</a>
              <a href="#">Other</a>
            </div>
        </div>
        <div class="dropdown">
          <button class="dropbtn">Color ▾</button>
            <div class="dropdown-content">
              <a href="#">Black</a>
              <a href="#">Brown</a>
              <a href="#">Cream</a>
              <a href="#">Gold</a>
              <a href="#">Grey</a>
              <a href="#">Yellow</a>
              <a href="#">Other</a>
            </div>
        </div>
      </div>
    <div class="right-index col-sm-6 text-center">
      <h2><span style="color: #E6455A"><%= @reports.length %></span> Pets Found Near You</h2>

    </div>

  </div>
</div>

  <div class="cardsmapcontainer">
    <div class="cards-container">
      <div class="row">
        <% @reports.each_with_index do |report,index| %>
          <div class="card-padding col-sm-12 col-lg-6">
            <div class="card">
              <%= link_to report_path(report), class: 'card-link' do %>
                <% if report.pet.photo.attached? %>
                  <div class="card-img-top" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path report.pet.photo.key %>')">
                  </div>
                <% else %>
                  <div class="card-img-top" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('https://images.unsplash.com/photo-1561037404-61cd46aa615b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')">
                  </div>
                <% end %>
                <div class="card-text">
                  <h2 class="name"><%= report.pet.name %></h2>
                  <h2 class="address"><%= report.address %></h2>
                </div>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>


    <div class="container map">
      <div id="map"
        style="width: 100%; height: 500px;"
        data-markers="<%= @markers.to_json %>"
        data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>">
      </div>
    </div>
  </div>
</div>
