<div class="container">
  <div class="main-show">
    
    <div class="card-report">
      <div class="card-report-basic">
        <div class="card-report-frame">
          <% if @report.reunited %>
            <h2><i class="far fa-smile-beam"></i> Reunited
          <% else %>
            <% if @report.status == "Missing" %>
              <h2 class="missing"><i class="far fa-sad-cry"></i>
            <% else %>
              <h2 class="lost"><i class="far fa-sad-tear"></i>
            <% end %>
            <%= @report.status %>
          <% end %>
            </h2>
            <% if @report.pet.photo.attached? %>
              <div class="card-report-show-photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('<%= cl_image_path @report.pet.photo.key %>')">
              </div>
            <% else %>
              <div class="card-report-show-photo" style="background-image: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,0)), url('https://images.unsplash.com/photo-1561037404-61cd46aa615b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1500&q=80')">
              </div>
            <% end %>
        </div>
        <div class="card-report-description">
          <h4><%= @report.pet.name %></h4><span><%= @report.pet.category.capitalize %></span>
        </div>
        <p><%= @report.pet.breed %></p>
      </div>
      <div class="card-report-details">
        <h2 class="text-center">Report #<%= @report.id %></h2>
        <div class="card-report-full-details">
          <h3>Details
            <!-- Shows or hide the edit icon according to the current user -->
            <% if policy(@report).edit? %>
              <%= link_to "#" do %>
                <i class="fas fa-edit"></i>
              <% end %>
            <% end %>
            <!-- Till here is showed according to Pundit -->
          </h3>
          <div class="report-fields">
            <table class="table">
              <tbody>
                <tr>
                  <td><strong>Size:</strong></td>
                  <td><span><%= @report.pet.size %></span></td>
                </tr>
                <tr>
                  <td><strong>Color:</strong></td>
                  <td><span><%= @report.pet.color %></span></td>
                </tr>
                <tr>
                  <td><strong>Gender:</strong></td>
                  <td><span><%= @report.pet.gender %></span></td>
                </tr>
                <tr>
                  <td><strong>Age:</strong></td>
                  <td><span><%= @report.pet.age %></span></td>
                </tr>
                <% unless @report.pet.traits.empty? %>
                  <tr>
                    <td><strong>Traits:</strong></td>
                    <td></td>
                  </tr>
                  <tr>
                    <td colspan="2"><span><%= @report.pet.traits %></span></td>
                  </tr>
                <% end %>
                <tr>
                  <td><strong><%= @report.status %> Date:</strong></td>
                  <td><span><%= @report.date.strftime('%a %b %d, %Y') %></span></td>
                </tr>
                <% if @report.reunited_date %>
                  <tr>
                    <td><strong>Reunited Date:</strong></td>
                    <td><span><%= @report.reunited_date.strftime('%a %b %d, %Y') %></span></td>
                  </tr>
                <% end %>
                <% if @report.reward_offered %>
                  <tr>
                    <td><strong>Reward:</strong></td>
                    <td><span><%= @report.reward_amount %></span></td>
                  </tr>
                <% end %>
                <tr>
                  <td><strong>Last seen on:</strong></td>
                  <td></td>
                </tr>
                <tr>
                  <td colspan="2"><span><%= @report.address %></span></td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="report-actions">
            <% if user_signed_in? %>
              <!-- Option for unlist -->
              <%= simple_form_for @report do |f| %>
                <%= link_to "To Reports", reports_path, class: "btn btn-success btn-wide" %>
                <% if policy(@report).edit? %>
                  <% if @report.reunited != true %>
                    <%= hidden_field_tag(:reunited, true) %>
                     <%= f.submit "Reunite", class: "btn btn-primary btn-wide" %>
                  <% else %>
                    <%= hidden_field_tag(:reunited, false) %>
                     <%= f.submit "Un-Reunite", class: "btn btn-primary btn-wide" %>
                  <% end %>
                <% end %>
                <%= link_to "Feedback", feedback_path(@report),
                    class: "btn btn-success btn-wide" unless @report.reunited %> 
              <% end %>
            <% else %>
              <%= link_to "To Reports", reports_path, class: "btn btn-success btn-wide" %>
              <%= link_to "Feedback", feedback_path(@report),
                  class: "btn btn-success btn-wide" unless @report.reunited %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
